
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <br><br><br>
<h2>Login</h2>
<form method="post" action="AddUserToDatabase">
    <div class="form-group">
        <label for="InputFirstName">First Name</label>
        <input type="text" class="form-control" id="fname" placeholder="" name="fname">
    </div>
    <div class="form-group">
        <label for="InputLastName">Last Name</label>
        <input type="text" class="form-control" id="lname" placeholder="" name="lname">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password" placeholder="" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
